#main-div {
  margin-top: 5em;
}

.background-picture {
  position: relative;
  top:0px;
  left:0px;
}

.down-arrow {
  position: absolute;
  top: 290px;
  left :225px;
  height: 70px;
  width: 40px;
}

.up-arrow {
  transform: rotate(180deg);
  position: absolute;
  top: 140px;
  left :225px;
  height: 70px;
  width: 40px;
}

.left-arrow {
  transform: rotate(90deg);
  position: absolute;
  top: 215px;
  left : 150px;
  height: 70px;
  width: 40px;
}

.right-arrow {
  transform: rotate(270deg);
  position: absolute;
  top: 215px;
  left : 300px;
  height: 70px;
  width: 40px;
}

.go-button {
  position: absolute;
  top: 225px;
  left : 220px;
  height: 50px;
  width: 50px;
}


.bee-sprite {
  position: relative;
  left: 0;
  top: 0;
}

.control:hover {
 border-style: solid;
 border-width: 3px;
 border-color: rgba(0, 0, 0, 0);
}